name: emilundmoritz
on:
  workflow_dispatch:
    inputs:
      force_publish:
        description: execute publish job
        type: boolean
        default: true
  schedule:
    - cron: '10 5 * * 1'
permissions: 
  contents: write
  packages: write
  pull-requests: write
jobs:
  download:
    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/holygrolli/whatsupforlunch:sha-087f703-2026-02-09
    outputs:
      matrix: ${{ steps.setmatrix.outputs.matrix }}
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          ref: >-
            ${{
              github.event_name == 'schedule' && 'main' || ''
            }}
      - name: get new links
        shell: bash
        run: |
          WD=${PWD}
          mkdir -p tmp
          scrapy runspider locations/emilundmoritz/scra.py --nolog > tmp/chatgpt_user.txt
      - name: process txt with chatgpt
        working-directory: tmp
        env:
          OPENAI_API_KEY: ${{secrets.OPENAI_API_KEY}}
        shell: bash
        run: |
          python ../locations/emilundmoritz/process_chatgpt.py
          mkdir -p ../data/emilundmoritz
          sed -n '/^\s*{$/,$p' chatgpt.json > final.json
          cp final.json ../data/emilundmoritz/$(date -d"$(jq -r 'keys[] | select(test("\\d{4}-\\d{2}-\\d{2}"))' final.json | sort | head -n 1)" +%Y-%V).json
      - name: Archive all tmp files
        uses: actions/upload-artifact@v4
        with:
          name: emilundmoritz-processed
          retention-days: 5
          path: |
            tmp
      - uses: tibdex/github-app-token@v2
        id: generate-token
        with:
          app_id: ${{ secrets.TOKEN_APP_ID }}
          private_key: ${{ secrets.TOKEN_APP_PRIVATE_KEY }}
      - name: Create Pull Request
        if: ${{ !github.event.act && (github.event_name != 'workflow_dispatch' || inputs.force_publish) }}
        uses: peter-evans/create-pull-request@v5
        with:
          add-paths: |
            data
          branch: ${{ github.workflow }}-cron
          commit-message: "chore(data): automated scraping"
          labels: "auto-approve-cron"
          title: "${{ github.workflow }} data updates"
          token: ${{ steps.generate-token.outputs.token }}
