name: lecasino
on:
  workflow_dispatch:
    inputs:
      force_process:
        description: execute process job
        type: boolean
        default: true
      force_publish:
        description: execute publish job
        type: boolean
        default: true
  schedule:
    - cron: '45 7 * * 1'
permissions: 
  contents: write
  packages: write
jobs:
  download:
    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/holygrolli/whatsupforlunch:sha-979e9b6-2024-08-08
    outputs:
      matrix: ${{ steps.setmatrix.outputs.matrix }}
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          ref: >-
            ${{
              github.event_name == 'schedule' && 'main' || ''
            }}
      - name: get new links
        shell: bash
        run: |
          WD=${PWD}
          mkdir -p tmp
          scrapy runspider locations/lecasino/scra.py 
      - id: setmatrix
        working-directory: tmp
        run: |
          matrixInput=$(find . -name 'cleaned_*.html' -printf '%P\n') # Creates array of all pdf files in tmp folder
          # Start Generate Json String
          echo "$matrixInput" | \
          jq --slurp --raw-input -c 'split("\n")[:-1] | map(select(length>0))' > matrix
          cat ./matrix
          # End Generate Json String
          matrixStringifiedObject=$(cat ./matrix) # Use this as jq @sh not working right
          echo "::set-output name=matrix::$matrixStringifiedObject"
      - name: Archive all htmls
        uses: actions/upload-artifact@v4
        with:
          name: htmls
          retention-days: ${{ github.event_name != 'workflow_dispatch' && '30' || '2' }}
          path: |
            tmp
  process:
    needs: download
    if: ${{ needs.download.outputs.matrix != '' && toJson(fromJson(needs.download.outputs.matrix)) != '[]' && (github.event_name != 'workflow_dispatch' || inputs.force_process ) }}
    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/holygrolli/whatsupforlunch:sha-979e9b6-2024-08-08
    strategy:
      max-parallel: 1
      matrix:
        files: ${{fromJson(needs.download.outputs.matrix)}}
        # include:
        #   - files: Le-Casino-Speiseplan-KW26.pdf
    concurrency: singlethread
    steps:
    - name: checkout source code
      uses: actions/checkout@v3
      with:
        ref: >-
          ${{
            github.event_name == 'schedule' && 'main' || ''
          }}
    - name: Download html artifacts
      uses: actions/download-artifact@v4
      with:
        name: htmls
        path: downloadtmp
    - name: copy step files
      run: |
        mkdir tmp
        cd tmp
        cp ../downloadtmp/${{ matrix.files }} ./chatgpt_user.txt
    - name: process html with chatgpt
      working-directory: tmp
      env:
        OPENAI_API_KEY: ${{secrets.OPENAI_API_KEY}}
      shell: bash
      run: |
        python ../locations/lecasino/process_chatgpt.py
        awk '/^\s*{$/,/^\s*}$/ {print}' chatgpt.json > final.json
        mkdir -p ../data/lecasino
    - name: collect final files
      working-directory: tmp
      shell: bash
      run: |
        mkdir -p ../success-htmls
        cp ./chatgpt_user.txt ../success-htmls/${{ matrix.files }}
        cp final.json ../success-htmls/$(date -d"$(jq -r 'keys[] | select(test("\\d{4}-\\d{2}-\\d{2}"))' final.json | sort | head -n 1)" +%Y-%V).json
    - name: Archive final files
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.files }}-success-htmls
        retention-days: 5
        path: |
          success-htmls
    - name: Archive all tmp files
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.files }}-processed
        retention-days: 5
        path: |
          tmp
  publish:
    needs: process
    if: (success() || failure ()) && (github.event_name != 'workflow_dispatch' || inputs.force_publish )
    runs-on: ubuntu-24.04
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          ref: >-
            ${{
              github.event_name == 'schedule' && 'main' || ''
            }}
      - name: Download successfully processed html artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: '*-success-htmls'
          path: success-htmls
          merge-multiple: true
      - name: process csv with chatgpt
        working-directory: success-htmls
        shell: bash
        run: |
          for file in $(find . -type f -name "*.pdf" -printf '%P\n');
          do
            cat ../data/lecasino/scraped_done.txt <(echo $'\n'$(cat ../downloadtmp/scraped_links.txt | grep ${file%_separated*})) | sort -u | grep . > scraped_done.txt
            mv scraped_done.txt ../data/lecasino/scraped_done.txt
          done
          cp *.json ../data/lecasino/
      - uses: tibdex/github-app-token@v2
        id: generate-token
        with:
          app_id: ${{ secrets.TOKEN_APP_ID }}
          private_key: ${{ secrets.TOKEN_APP_PRIVATE_KEY }}
      - name: Create Pull Request
        if: ${{ !github.event.act }}
        uses: peter-evans/create-pull-request@v5
        with:
          add-paths: |
            data
          branch: ${{ github.workflow }}-cron
          commit-message: "chore(data): automated scraping"
          labels: "auto-approve-cron"
          title: "${{ github.workflow }} data updates"
          token: ${{ steps.generate-token.outputs.token }}
